{
  "useTabs": true,
  "tabWidth": 4,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "lf",
  "semi": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "embeddedLanguageFormatting": "auto",
  "jsxBracketSameLine": false
}